<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='main.js')}}"></script>
    </head>
    <body>
        <h1>Ensemble Mini</h1>
        <div id="content">
            <div id="accomplishments">
                <input type="file" id="file-upload" accept="audio/wav, audio/mp3">
            </div>
            <button id="merge-files">Merge Songs</button>
        </div>
    </body>
</html>